<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= pageTitle%></title>
        <meta name="author" content="The Leos">
        <meta name="description" content="To be added...">
        <meta name="keywords" content="">

        <!-- Favicons -->
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">

        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="/assets/css/all.min.css">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    
        <!-- MDBootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/mdb.min.css">

        <!-- Custom styles for this template -->
        
        <link rel="stylesheet"href="/assets/css/main.css" />
        <link rel="stylesheet" href="/style.css">
    </head>