  <!-- Navigation 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <a class="navbar-brand" href="/">
      <img src="/assets/img/logo.png" height="30" alt="SA Food Bank logo" style="background-color: #ffffff;">
    </a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
      aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Links -->
    <div class="collapse navbar-collapse" id="basicExampleNav1">
  
      <!-- Right -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/cart" class="nav-link navbar-link-2 waves-effect">
            <%  
              let total = 0
              for (let c of cart) {
                total = total + c.quantity;
              } 
            %>
            <span class="badge badge-pill red"><%= total %></span>
            <i class="fas fa-shopping-cart pl-0"></i>
          </a>
        </li>
        <!-- Wishlist Icon and Dropdown Menu
        <li class="nav-item">
          <a href="/wish-list" class="nav-link navbar-link-2 waves-effect">
            <span class="badge badge-pill red">0</span>
            <i class="fas fa-shopping-bag pl-0"></i>
          </a>
        </li> 
              
        <li class="nav-item dropdown bg-dark">
          <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            <i class="united kingdom flag m-0"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#!">Action</a>
            <a class="dropdown-item" href="#!">Another action</a>
            <a class="dropdown-item" href="#!">Something else here</a>
          </div>
        </li>
        --> 
        <li class="nav-item">
          <a href="/" class="nav-link waves-effect hover-text-secondary-color">
            Shop
          </a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link waves-effect hover-text-secondary-color">
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a data-toggle="modal" data-target="#staticBackdrop" class="nav-link waves-effect hover-text-secondary-color">
            Sign in
          </a>
        </li>
        <li class="nav-item pl-2 mb-2 mb-md-0">
          <a href="/register" type="button" class="btn btn-outline-primary btn-md btn-rounded btn-navbar waves-effect waves-light border-white text-white hover-border-secondary-color hover-text-secondary-color">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/check-signIn" method="POST">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form md-outline form-lg">
          <input type="text" id="inputEmail" name="inputEmail" class="form-control form-control-lg">
          <label for="inputEmail">Email</label>
        </div>
        
        <!-- Material outline input -->
        <div class="md-form md-outline form-lg">
          <input type="text" id="inputPassword" name="inputPassword" class="form-control form-control-lg">
          <label for="inputPassword">Password</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary btn-md btn-rounded btn-navbar waves-effect waves-light border-primary-color text-primary-color hover-border-secondary-color hover-text-secondary-color" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-outline-primary btn-md btn-rounded btn-navbar waves-effect waves-light border-secondary-color text-secondary-color hover-border-primary-color hover-text-primary-color">Sign In</button>
      </div>
    </form>
    </div>
  </div>
</div>