<div class="wrapper">
    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3 class="text-center"><%= pageName %></h3>
        </div>
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="/" class="text-white ml-5">ct1</a></li>
            <li><a href="/ct2" class="text-white ml-5">ct2</a></li>
            <li><a href="/ct3" class="text-white ml-5">ct3</a></li>
            <li><a href="/ct4" class="text-white ml-5">ct4</a></li>
            <li><a href="/ct5" class="text-white ml-5">ct5</a></li>
            <li><a href="/ct6" class="text-white ml-5">ct6</a></li>
        </ul>
    </nav>
