<div class="wrapper">
    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3 class="text-center"><%= pageName %></h3>
        </div>
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="/">Baking</a></li>
            <li><a href="/ct2">Dairy</a></li>
            <li><a href="/ct3">Cereal</a></li>
            <li><a href="/ct4">Important</a></li>
            <li><a href="/ct5">Pantry</a></li>
            <li><a href="/ct6">Pancakes</a></li>
        </ul>
    </nav>
