<div class="wrapper">
    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3 class="text-center"><%= pageName %></h3>
        </div>
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="/">ct1</a></li>
            <li><a href="/ct2">ct2</a></li>
            <li><a href="/ct3">ct3</a></li>
            <li><a href="/ct4">ct4</a></li>
            <li><a href="/ct5">ct5</a></li>
            <li><a href="/ct6">ct6</a></li>
        </ul>
    </nav>
