<div class="wrapper">
    <nav id="sidebar" class="primary-color">
        <!-- Sidebar Header -->
        <div class="sidebar-header tertiary-color">
            <h3 class="text-center"><%= pageName %></h3>
        </div>
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li <% if (pageName === 'Fresh Produce') { %>class="active" <% } %> ><a href="/">Fresh Produce</a></li>
            <li <% if (pageName === 'Cereal') { %>class="active" <% } %> ><a href="/ct2">Cereal</a></li>
            <li <% if (pageName === 'Dairy') { %>class="active" <% } %> ><a href="/ct3">Dairy</a></li>
            <li <% if (pageName === 'Everyday Items') { %>class="active" <% } %> ><a href="/ct4">Everyday Items</a></li>
            <li <% if (pageName === 'Breakfast Items') { %>class="active" <% } %> ><a href="/ct5">Breakfast Items</a></li>
            <li <% if (pageName === 'Baking Items') { %>class="active" <% } %> ><a href="/ct6">Baking Items</a></li>
        </ul>
    </nav>
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn secondary-color">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
