<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>
<div class="wrapper">
    <div id="content" class="mt-5 mb-5" style="width: 100%;">
        <section>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/assets/img/LeoG.jpg" class="text-center"><img class="card-img-top img-detail w-100"
                                src="/assets/img/LeoG.jpg" alt="#"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="http://localhost:3000"> LeoG </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/assets/img/LeoB.jpg" class="text-center"><img class="card-img-top img-detail w-100"
                                src="/assets/img/LeoB.jpg" alt="Leonard Box"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="http://lfbox7.github.io"> LeoB </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/assets/img/ACM.png" class="text-center"><img class="card-img-top img-detail w-100"
                                src="/assets/img/ACM.png" alt="TAMUSA ACM"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="http://localhost:3600"> TAMUSA ACM </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
    </div>
</div>
<%- include('layouts/footer.ejs') %>